<%- include('../partials/header') %>


<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('assets/images/page-header-bg.jpg')"
  >
    <div class="container">
      <h1 class="page-title">Products<span>Shop</span></h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->

  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="toolbox">
            <div class="toolbox-left">
              <div class="toolbox-info">
                <!-- Showing <span>9 of 56</span> Products -->
              </div>
              <!-- End .toolbox-info -->
            </div>
            <!-- End .toolbox-left -->

            <div class="toolbox-right">
              <div class="toolbox-sort">
                <label for="sortby">Sort by:</label>
                <form id="selectPrice">
                  <div class="select-custom">
                    <select id="sort" onchange="sortBtn()" class="form-control" name="Sortby">
                      <option value="default" <%= sortField === 'default' ? 'selected' : '' %>>Default sorting</option>
                      <option value="priceAscending" <%= sortField === 'priceAscending' ? 'selected' : '' %>>Sort by price: low to high</option>
                      <option value="priceDescending" <%= sortField === 'priceDescending' ? 'selected' : '' %>>Sort by price: high to low</option>
                       <option value="alphbetSortingAZ" <%= sortField === 'alphbetSortingAZ' ? 'selected' : '' %>>Sort by Alphabet: A to Z </option>
                       <option value="alphbetSortingZA" <%= sortField === 'alphbetSortingZA' ? 'selected' : '' %>>Sort by Alphabet: Z to A </option>

                    </select>
                  </div>
                </form>
              </div>
            </div>
            <!-- End .toolbox-right -->
          </div>
          <!-- End .toolbox -->
          <div class="row categoryProduct xsResponse clearfix">
            <% productData.forEach((product) => { %>
            <div class="item col-sm-3 col-lg-3 col-md-3 col-xs-6 grid-view">
              <div class="product">
                <div class="image">
                  <a href="">
                    <img src="/adminassets/uploads/<%= product?.productImage[0] %>" alt="img" class="img-responsive" />
                  </a>
                </div>
                <div class="description">
                  <h4 class="small-font-size">
                    <a href=""><%= product?.productName %></a>
                  </h4>
                </div>
                <div class="price">
                  <span>RS: <%= product?.productPrice %></span>
                </div>
                <div class="action-control">
                  <a href="/productDetail/<%= product._id %>" class="btn btn-primary">
                    <span class="add2cart">
                      <i class="glyphicon glyphicon-shopping-cart"></i> Add to cart
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <% }) %>
            <!--/.item-->
          </div>

          <style>
            .small-font-size {
              font-size: medium;
            }
          </style>

          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <% for (let i = 0; i < Math.ceil(count / limit); i++) { %>
              <li class="page-item <%= page === (i + 1) ? 'active' : '' %>">
                <% if (page === i + 1) { %>
                <a class="page-link"><%= i + 1 %></a>
                <% } else { %>
                <a class="page-link" href="/productListPage?page=<%= i + 1 %>&sortValue=<%= sortField %>"><%= i + 1 %></a>
                <% } %>
              </li>
              <% } %>
            </ul>
          </nav>
        </div>
        <!-- End .col-lg-9 -->
        <aside class="col-lg-3 order-lg-first">
          <div class="sidebar sidebar-shop">
            <div class="widget widget-clean">
              <label>Filters:</label>
              <a href="" id="clearFiltersButton" onclick="clearFilters(event)">Clean All</a>
            </div>
            <!-- End .widget widget-clean -->

            <div class="widget widget-collapsible">
              <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                  Category
                </a>
              </h3>
              <!-- End .widget-title -->

              <div class="collapse show" id="widget-1">
                <div class="widget-body">
                  <div class="filter-items filter-items-count">
                    <ul class="nav nav-pills nav-stacked tree">
                      <div class="panel-body">
                        <% categoryData.forEach((category) => { %>
                        <li class="active dropdown-tree open-tree">
                          <label>
                            <a href="/productListPage?categoryName=<%= category?.categoryname %>"  style="color: black;"><%= category?.categoryname %></a>
                          </label>
                        </li>
                        <% }) %>
                      </div>
                    </ul>
                  </div>
                </div>
               
              </div>
              <!-- End .widget-body -->
            </div>
            <!-- End .collapse -->
          </div>
          <!-- End .widget -->
        </aside>
        <!-- End .col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->

  <div class="col-lg-12 clearfix mt-4">
    <ul class="pager">
      <li class="previous pull-right">
        <a href="/"> <i class="fa fa-home"></i> Go to Shop </a>
      </li>
    </ul>
  </div>
</main>
<!-- End .main -->

<script>
  async function sortBtn() {
    const sortValue = document.getElementById('sort').value;
    const urlParams = new URLSearchParams(window.location.search);
    const page = urlParams.get('page') || 1;

    let response = await fetch(`/sort?sortValue=${sortValue}&page=${page}`, {
      method: "GET"
    });

    const result = await response.json();
    if (result.success) {
      urlParams.set('sortValue', sortValue);
      urlParams.set('page', page);
      window.location.search = urlParams.toString();
    }
  }
</script>

<script>
    
    async function clearFilters(event){

      event.preventDefault()
        
      const urlParams = new URLSearchParams(window.location.search)

      urlParams.delete('categoryName')
      urlParams.delete('sortValue')
      urlParams.delete('page')

      window.location.search = urlParams.toString()
    }
</script>



<%- include ('../partials/footer') %>
